<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello word wide web<br>
<form method="post">
    {% csrf_token %}
    <p>
        <input name="name" placeholder="введи иимя" />
    </p>
    <p>
        <input name="e-mail" placeholder="введи почту" /><br>
    </p>
    <p>
        <textarea name="message" placeholder="что хотел?"></textarea>
    </p>
    <p>
        <input type="submit" value="vvod">

    </p>
    <p>
                <textarea placeholder=" kkkkk "></textarea>
    </p>

</form>
</body>
</html>