{{% extends 'catalog/base.html' %}
    {% block content %}
<title>Record</title>

<h1> Records </h1>

        <table class="table table-dark table-striped">
            <thead>
                <tr>
                     <th scope="col">Your choice</th>
                  <th scope="col"> Title of Products</th>
                  <th scope="col">Products Description</th>

                </tr>
            </thead>
            <tbody>

            {% for object in object_list %}
                <tr>
                    <td>
                        <a class="btn.btn-default" href="{% url 'catalog:update' object.pk %}" >Update</a>
                        <a class="btn.btn-default" href="{% url 'catalog:delete' object.pk %}" >Delete</a>
                    </td>
                    <td>{{object.title}}</td>
                    <td>{{object.content}}</td>

                </tr>

            {% endfor %}


          </tbody>
        </table>



{% endblock %}

